:root {
    --background-color: rgb(25, 124, 103);
    --background-color-nav: rgb(47, 163, 138);
    --font-color: rgb(25, 124, 103);
    --font-body: Verdana, Geneva, Tahoma, sans-serif;
    --hero-height: 150px;
    --nav-height: 75px;
    --bottom-nav-height: 75px;
}

* {
    box-sizing: border-box;
}

img {
    width: 100%;
    margin-bottom: 1rem;
}

body {
    font-family: var(--font-body);
    color: var(--font-color);
    background-color: var(--background-color);
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

html, body, #root {
    height: 100%;
    padding: 0;
    margin: 0;
}

#root {
    z-index: 0;
}

#root, section, main, nav {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    position: relative;
}

.wrap {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 100%;
}

.main {
    background: white;
    flex-grow: 1;
    padding: 1rem;
    z-index: 2;
}

.nav-inner, .hero-inner, .bottom-nav-inner {
    color: white;
    font-size: 1.5em;
    text-align: center;
    background-color: var(--background-color);
}

.nav {}
.nav-push {
    flex-basis: var(--nav-height);
}
.nav-inner {
    position: fixed;
    top: 0;
    z-index: 3;
    height: var(--nav-height);
    width: 100%;
    padding: 1.3rem 0 0;
    background-color: var(--background-color-nav);
}

.hero {}
.hero-push {
    flex-basis: var(--hero-height);
}
.hero-inner {
    position: fixed;
    z-index: 1;
    width: 100%;
    padding: 2rem 0rem;
    font-size: 2em;
    height: var(--hero-height);
    background-color: var(--background-color-hero);
}

.bottom-nav {}
.bottom-nav-push {
    flex-basis: var(--bottom-nav-height);
}
.bottom-nav-inner {
    position: fixed;
    bottom: 0;
    z-index: 3;
    height: var(--bottom-nav-height);
    width: 100%;
    padding: 1.3rem 0 0;
}
