:root {
    --background-color: rgb(25, 124, 103);
    --font-color: rgb(25, 124, 103);
    --font-body: Verdana, Geneva, Tahoma, sans-serif;
}

* {
    box-sizing: border-box;
}

img {
    width: 100%;
    margin-bottom: 1rem;
}

body {
    font-family: var(--font-body);
    color: var(--font-color);
    background-color: var(--background-color);
}

html, body, #root {
    height: 100%;
    padding: 0;
    margin: 0;
}

#root {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

#root, section, main, nav {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    position: relative;
}

.wrap {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 100%;
    overflow: hidden;
}

.main {
    background: white;
    flex-grow: 1;
    padding: 1rem;
    z-index: 2;
}

.nav {}
.nav-push {
    flex-basis: 75px;
}
.nav-inner {
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100%;
    padding: 1.3rem 0 0;
    align-items: center;
    background-color: var(--background-color);
    transition: height .2s ease-in-out;
    color: white;
    font-size: 1.5em;
    text-align: center;
    height: 75px;
}
.nav-shadow {
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.24);
}

.hero {}
.hero-push {
    flex-basis: 150px;
}
.hero-inner {
    position: fixed;
    padding: 2rem 0rem;
    z-index: 1;
    text-align: center;
    font-size: 2em;
    color: white;
    width: 100%;
}

.swipe {
    overflow: hidden;
    visibility: hidden;
    position: relative;
}
.swipe-wrap {
    overflow: hidden;
    position: relative;
}
.swipe-wrap > div {
    float:left;
    width:100%;
    position: relative;
}
